.homeApproach {
    &__container {
        &--text {
            h2 {
                color: rgb(20, 13, 28);
                font-size: 3.9rem;
                span {
                    color: rgb(235, 171, 10);
                }
            }
            p {
                color: rgb(107, 94, 120);
                font-size: 1.6rem;
                font-family: "Inter", sans-serif;
            }
        }
        &--buttons {
            display: flex;
            justify-content: center;
            column-gap: .4rem;
            padding: .4rem;
            border: .1rem solid rgb(219, 214, 225);
            border-radius: 1.2rem;
            height: 5rem;
            width: fit-content;
            margin-left: auto;
            margin-right: auto;
            font-size: 1.4rem;
            span {
                display: flex;
                column-gap: .8rem;
                cursor: pointer;
                svg {
                    width: 1.6rem;
                }
            }
        }
        &--content {
            display: flex;
            column-gap: 4.8rem;
            img {
                padding: 1.6rem;
                background-color: rgb(255, 255, 255);
                border-radius: 1.6rem;
                width: calc(48.7% - 2.4rem);
            }
        }
    }
    &__info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        width: calc(51.3% - 2.4rem);
        span {
            display: flex;
            column-gap: .8rem;
        }
        h3 {
            font-size: 3rem;
            color: rgb(20, 13, 28);
            letter-spacing: -.075rem;
        }
        &--description {
            font-size: 1.6rem;
            font-family: "Inter", sans-serif;
            color: rgb(107, 94, 120);
            margin-top: 1.6rem;
            line-height: 1.6;
        }
    }
    &__box {
        margin-top: 3.2rem;
        &--item {
            text-align: center;
            h3 {
                font-size: 2rem;
                color: rgb(235, 171, 10);
            }
            p {
                margin-top: .4rem;
                color: rgb(107, 94, 120);
                font-family: "Inter", sans-serif;
            }
        }
    }
}