.homeCapabilities {
    &__container {
        &--text {
            h2 {
                font-size: 3.9rem;
                color: rgb(20, 13, 28);
                span {
                    color: rgb(235, 171, 10);
                }
            }
            p {
                color: rgb(107, 94, 120);
                font-size: 1.6rem;
                font-family: "Inter", sans-serif;
                line-height: 1.5;
            }
        }
        &--box {
            &-item {
                transition: all .3s ease;
                &:hover {
                    border: .08rem solid rgba(235, 171, 10, 0.3);
                    transition: all .3s ease;
                }
                svg {
                    width: 2.6rem;
                    margin-bottom: 0.8rem;
                    color: rgb(235, 171, 10);
                }
                h3 {
                    color: rgb(20, 13, 28);
                }
                p {
                    margin-top: .4rem;
                    color: rgb(107, 94, 120);
                }
            }
        }
    }
}